.small-text{
    font-size: 0.8rem;
}

.ameneties__divs{
    width: 325px;
}

.btn-card{
    background-color: #9353ff;
    color: #ffffff;
}

.icons-ameneties, .ameneties__subtitle{
    color: #daff01;
}