.small-text{
    font-size: 0.8rem;
}

.ameneties__divs{
    width: 325px;
}

.btn-card{
    background-color: #9353ff;
    color: #ffffff;
}

.icons-ameneties, .ameneties__subtitle{
    color: #daff01;
}

.carouse-captpion-title{
    font-size: 3rem;
}

@media (max-width:768px){
    .carouse-captpion-title{
        font-size: 2.5rem;
    } 
}